.row {
    justify-content: center;
    align-items: center;
}
.project-img {
    height: 100%;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
p {
    margin-bottom: 0;
}
.projects-details {
    background: #292929;
    padding: 10px 20px 10px 5px;
    strong {
        color: #c39f5f;
    }
    & > div {
        flex-direction: column;
    }
    .d-flex {
        margin: 0.5rem 0 1rem 0;
        p {
            color: #eee;
        }
    }
    button {
        width: 50%;
        margin: auto 0;
        font-weight: 600;
        border-radius: 2px;
    }
}
