footer {
    .logo {
        font-size: 25px;
        font-weight: 500;
        text-transform: uppercase;
        color: #444;
        letter-spacing: 5px;
    }
    background: #f1f1f1;
    padding-top: 30px;
    .fa-brands {
        font-size: 20px;
        color: #c39f5f;
        padding: 3px;
        &:hover {
            color: #444;
        }
    }
    ul {
        display: flex;
        justify-content: center;
        li > a {
            margin: 0 10px;
            text-decoration: none;
            font-weight: 600 !important;
            color: #000;
            border-bottom: 2px solid transparent;
            &.active,
            &:hover {
                border-color: #c39f5f;
            }
        }
    }
    .icons a {
        color: #fff;
        margin-left: 10px;
    }
    .rights-footer {
        background: #333;
        padding: 5px 0;
        color: #c39f5f;
    }
}
@media (max-width: 425px) {
    footer ul.main-menu {
        flex-direction: column;
        align-items: center;
        li {
            margin: 10px 0;
        }
    }
}
