
.details-title h3 {
    color: #c39f5f;
}
.details-text p {
    color: #e9e6e6;
    font-size: 15px;
}
.btn {
    background-color: #c39f5f;
    color: #000;
    width: 80%;
    margin: auto;
    border-radius: 3px;
    &:hover,
    &:focus {
        background-color: #444;
        color: #e9e6e6;
    }
}
.col-lg-6 .d-flex {
    background: #292929;
    margin: 10px 0;
    padding: 20px;
}

.icon-img {
    width: 50%;

    img {
        width: 100%;
        object-fit: cover;
        margin-top: 10%;
    }
}

.machine-text {
    padding-right: 10px;
    h4 {
        font-size: 16px;
        color: #c39f5f;
    }
    p {
        color: #fff;
    }
}

.learn-more {
    background: #c39f5f;
    padding: 50px 0;
    margin-top: 30px;
}
.btn-details {
    margin-top: 1.3rem;
    display: block;
    width: 30%;
    border: 1px solid;
    padding: 10px 20px;
    background: transparent;
    font-weight: bold;
    border-radius: 3px;
    color: #eee;
    &:hover,
    &:focus {
        background-color: #223;
        color: #c39f5f;
    }
    &:focus-within i {
        transform: translateX(35px);
    }
}

.learn-more-details p {
    font-weight: bold;
}
